/*======root banner======*/

.rootCanal {
    margin: 0 2rem 2rem 2rem;
}

.rootcanal__container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-image: url("/assets/Img/Services/service-banner.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.rootcanal___article {
    justify-self: center;
    margin-top: 20%;
}

.rootcanal__article--title {
    font-size: 64px;
    font-weight: 700;
}

.rootcanal__article--description {
    font-size: 18px;
    font-weight: 500;
    color: rgb(24, 25, 69, 0.60);
    line-height: 140%;
    margin-top: 1.8rem;
    margin-bottom: 7rem;
}

.rootcanal__img {
    padding: 5rem 1rem 1rem 1rem;
}

/*======Symptoms======*/

.symptoms {
    margin: 8rem 2.5rem;
}

.symptoms__container {
    background-color: var(--rosa);
    border-radius: 3rem;
    padding: 5.5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sympoms__subtitle {
    font-size: 48px;
    font-weight: 700;
}

.symptoms__description {
    font-size: 18px;
    font-weight: 500;
    line-height: 135%;
    text-align: center;
    margin: 2rem 0 5rem 0;
}

.symptoms__list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 4rem;
    row-gap: 2.5rem;
}

.symptoms__list > li:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.symptoms__list > li:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}

.symptoms__list--item {
    width: 29vw;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 35% 65%;
    gap: 0.5rem;
    row-gap: 0.7rem;
}

.symptoms__item--img {
    grid-column: 1;
    grid-row: span 2;
    border-radius: 16px;
    cursor: pointer;
}

.symptoms__item--img:hover {
    box-shadow: 2.2px 2.2px 0px rgba(0, 0, 0, 0.11);
}

.symptoms__item--title {
    font-size: 20px;
    font-weight: 700;
    align-self: flex-end;
}

.symptoms__item--desc {
    color: var(--fonte-color-secundaria);
    font-size: 15px;
    font-weight: 500;
    line-height: 140%;
}

/*======Gallery======*/

.gallery {
    margin: 4rem 5.2rem;
    display: grid;
    grid-template-columns: 38% 62%;
    grid-template-rows: auto auto auto;
    row-gap: 1.5rem;
}

.gallery__title {
    padding: 0;
}

.gallery__subtitle {
    grid-column: 1;
    grid-row: 2;
    font-size: 48px;
    font-weight: 700;
    line-height: 130%;
}

.gallery__description {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    color: var(--fonte-color-secundaria);
    font-size: 18px;
    font-weight: 500;
    line-height: 135%;
    padding-left: 15rem;
}

.gallery__imgs--wrap {
    grid-column: span 2;
    grid-row: 3;
    justify-self: center;
    margin-top: 5rem;
}

.gallery__imgs--container {
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}