@media(max-width: 768px) {
    .header {
        padding: 1em 2em;
    }


    header nav {
        opacity: 0;
        visibility: hidden;
    }

    .banner {
        display: flex;
        flex-direction: column;
    }

    .banner__img-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        justify-content: center;
    }

    .banner__contact {
        flex-direction: column;
    }

    .banner__contact .tel {
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }

    .banner__contact-img {
        margin-left: 0;
        background-color: var(--roxo);
    }

    .services__list,
    .services__subtitle--wrap,
    .experts,
    .features__list,
    .testimonial__subtitle--container,
    .testimonial__list,
    .blog__list,
    .appointment,
    .footer__container {
        flex-direction: column;
    }

    .services__subtitle--wrap {
        gap: 1.5rem;
    }

    .dental24h {
        flex-direction: column;
        padding: 0;
    }

    .experts__img {
        width: 20rem;
        border-radius: 20px;
    }

    .dental24__img {
        border-radius: 20px;
    }

    .testimonial__description {
        margin-top: calc(16px - 12rem);
    }

    .blog__list--item {
        width: 100%;
    }

    .news1, .news2, .news3 {
        width: 100%;
    }

    .appointment__container--line1, 
    .appointment__container--line2 {
        flex-direction: column;
        gap: 1.5rem;
    }

    .appointment__container--wrap {
        width: 100%;
    }

    .appointment__container--wrap input {
        width: 100%;
    }

}