@import url("../CSS/styles/main.css");
@import url("../CSS/styles/news.css");
@import url("../CSS/styles/about.css");
@import url("../CSS/styles/services.css");
@import url("../CSS/styles/contactus.css");

:root {
    --fonte-principal: 'inter';
    --fonte-color: #181945;
    --fonte-color-secundaria: #797979;
    --branco: #FFF;
    --roxo: #583FBC;
    --roxo-secundario: #DBDEFA;
    --azul-claro: #D9EBFA;
    --lilas: #F6DBFA;
    --rosa: #FADBE2;
    --footer-background: #041434;
    --footer-font-color:  rgba(255, 255, 255, 0.6);
}

body {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--fonte-color);
    background-color: var(--branco);
}

/*======header======*/

.header {
    display: flex;
    padding: 3em 5em;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
    width: 12rem;
}

.navbar__list {
    display: flex;
    gap: 3.5em;
}

.navbar__list-link {
    font-weight: 700;
    color: var(--fonte-color);
    text-decoration: none;
}

.navbar__list-link:hover {
    text-decoration: underline;
}

.header__button {
    font-weight: 400;
    color: var(--branco);
    text-decoration: none;
    padding: 1.2em;
    border-radius: 12px;
    background-color: var(--roxo);
}

/*======Footer======*/

.footer {
    padding: 5.2rem 5.2rem 4rem 5.2rem;
    background-color: var(--footer-background);
    color: var(--branco);
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__description {
    font-size: 16.5px;
    font-weight: 500;
    line-height: 125%;
    color: var(--footer-font-color);
    margin: 2rem 0 4.5rem 0;
}

.footer__follow {
    font-size: 12px;
    color: var(--footer-font-color);
    margin-bottom: 1rem;
}

.footer__social-medias {
    display: flex;
    gap: 3rem
}

.footer___medias--icon {
    cursor: pointer;
}

.footer__list-title {
    font-size: 14px;
    color: var(--footer-font-color);
    padding-bottom: 0.2rem;
}

.footer__links--list-item {
    margin: 1.7rem 0;
}

.footer__list--link {
    font-size: 13px;
    color: var(--branco);
    font-weight: 500;
    text-decoration: none;
}

.footer__list--link:hover {
    text-decoration: underline;
}

.footer__contact--item {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin: 1.7rem 0;
}

.footer__contact--img {
    cursor: pointer;
}

.footer__contact--subtitle {
    font-size: 13px;
    padding-bottom: 0.7rem;
    color: var(--footer-font-color);
    font-weight: 400;
}

.footer__contact--text {
    font-size: 15px;
    font-weight: 500;
}

.footer__container2 {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.footer__page-rigths {
    color: var(--footer-font-color);
}

.footer__container2--wrap {
    display: flex;
    gap: 4rem;
}

.footer__link {
    color: var(--branco);
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

/*======appointment======*/

.appointment {
    padding: 4.3em;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.appointment__address {
    display: flex;
    align-items: flex-end;
    padding: 42rem 5.9rem 4rem 5.9rem;
    background-image: url("/assets/Img/home/map.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.appointment__address--box {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem;
    background-color: var(--branco);
    border-radius: 24px;
}

.apointment__adress--home {
    cursor: pointer;
    border-radius: 16px;
}

.appointment__adress--text {
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
}

.appointment__title {
    padding-top: 0;
}

.appointment__subtitle {
    font-size: 48px;
    font-weight: 700;
    line-height: 125%;
}

.appointment__description {
    font-size: 16px;
    font-weight: 500;
    line-height: 125%;
    color: var(--fonte-color-secundaria);
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.appointment__container--line1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.appointment__container--line2 {
    display: flex;
    justify-content: space-between;
}

.appointment__container--wrap {
    display: flex;
    flex-direction: column;
}

.appointment__form--label {
    font-size: 13px;
    font-weight: 500;
    color: var(--fonte-color-secundaria);
}

.appointment__form--input {
    border: 1px solid rgb(24, 25, 69, 0.2);
    padding-left: 1em;
    border-radius: 19px;
}

.input {
    width: 290px;
    height: 60px;
    caret-color: var(--roxo);
    color: var(--fonte-color-secundaria);
}

select {
    padding: 0 1em 0 1em;
    width: 307px;
    height: 64px;
}

.appointment__form--input::placeholder {
    color: 1px solid rgb(24, 25, 69, 0.2);
}

.appointment__container--text {
    margin: 2rem 0;
}

.input__messages {
    border: 1px solid rgb(24, 25, 69, 0.2);
    border-radius: 19px;
    padding: 1.5em;
    margin-top: 1em;
    color: 1px solid rgb(24, 25, 69, 0.2);
    font-family: var(--fonte-principal);
    font-weight: 500;
    resize: none;
}

.appointment__container--contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.appointment__contact-wrap {
    padding-left: 1em;
}

.contact {
    display: flex;
    align-items: center;
}

.appointment__contact-img {
    border-radius: 19px;
    cursor: pointer;
}

.appointment__contact-img:hover {
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.appointment__contact--title {
    font-size: 13px;
    font-weight: 700;
    color: var(--roxo);
    padding-bottom: 0.8em;
}

.appointment__contact {
    font-size: 15px;
    font-weight: 700;
}

.appointment__button {
    color: var(--branco);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    padding: 1.3em 4.3em;
    background-color: var(--roxo);
    border-radius: 16px;
    border: none;
    cursor: pointer;
}